# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = bradschwartz
	email = baschwartz95@gmail.com
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = green
	changed = yellow
	untracked = red
[url "git@github.com:"]
	insteadOf = https://github.com/
[includeIf "gitdir:~/code/podium/"]
	path = ~/.config/git/podium.gitconfig
[core]
	excludesfile = ~/.config/git/ignore
	commentChar = ";" # This lets me do headers (#) in my markdown-style commits
[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
	fix = "commit --amend --no-edit"
	squash = "!squash() { \
				local rebase_msg=\"$(git log ${1}..HEAD --pretty=format:%s)\"; \
				git reset --soft \"${1}\"; \
				git commit -am \"${rebase_msg}\"; \
			}; squash"
	prev-body = "log --format=format:'%b' -1"
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[github]
	user = bradschwartz
[http]
	postBuffer = 157286400
