known_hosts
.DS_Store
gitk
bash/dot-work/
ssh/.ssh/id_*
ssh/.ssh/known_hosts*
emacs/**/elpa
emacs/**/.lsp*
emacs/**/auto-save-list
emacs/**/eshell/
emacs/**/tramp
emacs/**/games/
emacs/**/eln-cache
emacs/**/transient
emacs/**/tree-sitter
emacs/**/url/cache
aws/.aws/credentials
visual-studio-code/**
colima/.colima/default/daemon/
Brewfile.lock.json
